<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>356135539437-dsrien536odbeklkqtah5nsfcs6h2807.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.356135539437-dsrien536odbeklkqtah5nsfcs6h2807</string>
	<key>API_KEY</key>
	<string>AIzaSyATy1vmk8ZZUAx-ZAeIc441dtrTRPrltzg</string>
	<key>GCM_SENDER_ID</key>
	<string>356135539437</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ecommerce01.eCommerce01</string>
	<key>PROJECT_ID</key>
	<string>ecommerce01-71300</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerce01-71300.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:356135539437:ios:966e085bdbd8d02320f2e4</string>
</dict>
</plist>